<div class="data-grid-container">
  <table class="table">
    <thead>
      <tr>
        <th *ngFor="let col of columns; let i = index">
          {{ col.header }}
          <span
            *ngIf="allowUserToResizeColumns"
            class="resize-handle"
            (mousedown)="startResize($event, i)"
          ></span>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let row of data; let r = index">
        <td
          *ngFor="let col of columns; let c = index"
          [class.focused]="focusedCell.row === r && focusedCell.col === c"
          (click)="selectionMode === 'FullRowSelect' ? focusCell(r, 0) : focusCell(r, c)"
        >
          <input
            #gridInput
            type="text"
            class="cell-input"
            [(ngModel)]="row[col.field]"
            (focus)="focusCell(r, c)"
            (keydown)="handleKeyDown($event, r, c)"
            (keypress)="handleKeyPress($event, r, c)"
            autocomplete="off"
          />
        </td>
      </tr>
    </tbody>
  </table>
</div>
